body {
  background-color: white;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Domine';
  font-size: 2em
  margin-bottom: 0;
  color: #1e1e1e;
}

h2 {
  font-family: 'Domine';
  font-size: 1em
  margin-top: 0;
}

h3 {
  font-family: 'Open Sans', sans-serif
  font-size: 0.5em
}

p {
  font-family: 'Domine', serif;
  font-size: 1em;
  line-height: 1.5em;
}

img {
  border: none;
}

/* HEADER */
.header {
  padding-top: 30px;
  padding-bottom: 5px;
}

.top {
  display: flex;
}

#logo {
  margin: auto;
  width: 300px;
  padding-bottom:10px;
}

#nav {
  display: none;
  flex-direction: column;
  background-color: white;
  padding-left: 0;
}

#nav li {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  list-style-type: none;
  color: #1e1e1e;
  border-bottom: 1px solid white;
  background-color: white;
}

#nav li a {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
  text-align: center;
  padding: 4px;
  border-bottom: 1px solid;
}

#nav li a:hover {
  color: white;
  background-color: #1e1e1e;
}

/*
#nav li a:visited {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
  text-align: center;
  padding: 4px;
} */

#nav li ul {
  display: none;
  background: #1e1e1e;
  width: 100%;
}

#nav li:hover ul {
  display: block;
  padding-left: 0px;
  color: white;
  background-color: #1e1e1e;
}

/* #nav li ul li {
  list-style-type: none;
  border-width: 0.75px;
  border-style: solid;
  border-color: white;
  color: #1e1e1e;
  background-color: white;
}

#nav li ul li a:link, a:visited {
  color: #1e1e1e;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#nav li ul li a:hover {
  background-color: #1e1e1e;
  color: #fff;
} */

.menu-trigger {
  text-decoration: none;
  font-size: 35px;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #1e1e1e;
}

/* FEATURE STORY */
.featurestory {
  background-color: #5B7C48;
  /* padding: 10px; */
  margin-top: 10px;
  margin-bottom: 0px;
  position: relative;
}

.featurestory h1 {
  color: white;
  position: absolute;
  bottom: 5%;
  left: 3%;
  /* margin-bottom: 0;
  margin-top: 10px; */
  /* z-index: 999; */
  /* margin: 0 auto;
  left: 0;
  right: 0;
  top: 14px; */
  /* top: 53%; */
  /* text-align: left;
  padding: 20px; */
}

.featurestory p {
  color: white;
  position: absolute;
  bottom: 1%;
  left: 3%;
  z-index: 999;
  /* margin-top: 0; */
  /* margin: 0 auto; */
  /* left: 0;
  right: 0; */
  /* top: 57%;
  text-align: left;
  padding: 20px; */
}

.featurestory img {
  /* float: left; */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.featurestory a:link {
  display: block;
  color: white;
  text-decoration: none;
}

.featurestory a:hover {
  display: block;
  color: #ffffff !important;
  padding-left: 0px;
  text-decoration: underline;
}

.featurestory a:visited {
  display: block;
  color: white;
  text-decoration: none;
}

.storycontainer {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.storycontainer img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

#ad {
  border: solid 1px;
  height: 320px;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pquote {
    font-size: 26px;
    line-height: 0.9;
    font-style: italic;
    color: #5B7C48;
    margin: 0;
}

/* ABOUT THE PROJECT */

/* FROM MATT: I don't think the PDF file preview should be to the right of the text, I think we should put it above. Thoughts? */
.abouttheproject {
  background-color: #304779;
  padding: 10px;
  height: 300px;
  margin-bottom: 0px;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.abouttheproject-content {
  display: flex;
  flex-direction: column;
}

.abouttheproject img {
  width: 100px;
}

.abouttheproject h2 a {
  text-decoration: none;
  color: white;
}

.abouttheproject h2 a:hover {
  text-decoration: underline;
}

.abouttheproject h2 a:visited {
  text-decoration: none;
}

.abouttheproject p {
  color: white;
}


/* .abouttheproject {
  background-color: #ffffff;
  padding: 10px;
  height: 200px;
  margin-bottom: 0px;
  margin-top: 0;
  padding-top: 5px;
}

.abouttheproject img {
  width: 100px;
  float: right;
}

.abouttheproject p {
  display: inline-block;
} */


/* GENERIC STORIES */
.genericstories {
  padding: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}

.genericstories img {
  width: 100%;
  float: left;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  display: block;
}

.genericstories p {
  /* display: inline-block; */
  color: #1e1e1e;
  display: inline-block;
  margin-top: 0;
  padding-bottom: 15px;
}

.caption {
  font-size: 14px;
  color: #1e1e1e;
  background-color: #FBFBF2;
  padding: 12px;
}

.genericstories h2 {
  color: #1e1e1e;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 10px;
}

.genericstories a:link {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
}

.genericstories a:visited {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
}

.genericstories a:hover {
  display: block;
  color: #6d6d6d;
  text-decoration: underline;
  padding-left: 0px;
}


.myButton {
  text-align: center;
  padding-bottom: 30px;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  box-shadow: 4px 4px 0px -1px #1e1e1e;
	background-color:transparent;
	border:2px solid #1e1e1e;
	display:inline-block;
	cursor:pointer;
	color:#1e1e1e;
	font-family:Arial;
	font-size:17px;
	padding:14px 30px;
	text-decoration:none;
}
.button:hover {
	background-color:transparent;
}
.button:active {
	position:relative;
	top:1px;
}

/* Generic Story 1 */

.genericstory1 {
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}

.genericstory1 img {
  width: 100%;
  float: left;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 15px;
  display: block;
}

.genericstory1 p {
  color: #1e1e1e;
  display: inline-block;
  }

.genericstory1 h2 {
  color: #1e1e1e;
  font-size: 2em;
  margin-bottom: 0px;
  margin-top: 10px;
}

.genericstorycontainer {
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.genericstorycontainer img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}


/* Photo Gallery */
.photos h1 {
text-align: center;
}

.photos h2 {
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 15px;
}

.photos h2 > a:link {
  text-decoration: none;
  color: #1e1e1e;
}

.photos h2 > a:hover {
  color: #ffffff;
}

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  { outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
	margin: 0;
	padding: 0;
	list-style: none;
}

.flexslider a img { outline: none; border: none; }

.flexslider {
	margin: 0;
	padding: 0;
}

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides > li {
	display: none;
	-webkit-backface-visibility: hidden;
}

.flexslider .slides img {
	width: 100%;
	display: block;
	border-radius: 2px;
}

/* Clearfix for the .slides element */
.slides:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] .slides { display: block; }
* html .slides { height: 1%; }


.slides img {
  width: 90%;
}

.flexslider {
	position: relative;
	zoom: 1;
	padding: 10px;
}

.flexslider .slides { zoom: 1; }


.flex-direction-nav a {
	display: block;
	position: absolute;
	margin: -10px 0 0 0;
	width: 35px;
	height: 35px;
	top: 50%;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 9999;
	background-color: #ffffff;
}

.flex-direction-nav a:before {
	display: block;
	position: absolute;
	content: '';
	width: 9px;
	height: 13px;
	top: 11px;
	left: 11px;
	background: url(images/arrows.png) no-repeat;
}

.flex-direction-nav a:after {
	display: block;
	position: absolute;
	content: '';
	width: 0;
	height: 0;
	top: 35px;
}

.flex-direction-nav .flex-next {
	right: -5px;
	border-radius: 3px 0 0 3px;
}

.flex-direction-nav .flex-prev {
	left: -5px;
	border-radius: 0 3px 3px 0;
}

.flex-direction-nav .flex-next:before {
  background-position: -9px 0;
  left: 15px;
}

.flex-direction-nav .flex-prev:before {
  background-position: 0 0;
}

.flexslider .flex-control-nav {
	position: absolute;
	width: 100%;
	bottom: 10px;
	text-align: center;
}

.flex-control-nav li {
	display: inline-block;
	zoom: 1;
}

.flex-control-paging li a {
	display: block;
	cursor: pointer;
	text-indent: -9999px;
	width: 12px;
	height: 12px;
	margin: 5px;
	background-color: #b6b6b6 \9;
	border-radius: 12px;
	box-shadow: inset 0 0 0 2px #b6b6b6;
}

.flex-control-paging li a.flex-active {
	background-color: #ffffff;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.column {
  flex: 50%;
  padding: 5px;
}

.column img {
  width: 70%;
}

/* Video Gallery */
.videos h1 {
  text-align: center;
}

.videos h2 {
  font-size: 1.5em;
  margin-bottom: 0px;
  margin-top: 10px;
  padding-left: 15px;
}

.videos ul {
  list-style-type: none;
}

.videos h2 > a:link {
  color: #1e1e1e;
  text-decoration: none;
}

.videos h2 > a:hover {
  color: #ffffff;
}

video {
  margin: auto;
}








/* FOOTER */

.footer {
  background-color: #304779;
  margin-top: 0px;
  padding-top: 65px;
  padding-bottom: 65px;
  margin-bottom: 0px;
}

.footer-missourian {
  margin-left: 0px;
}

.footer-umextension {
  margin-left: 0;
}

.footer-missourian img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.footer-umextension img {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#socialsmissourian {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

#socialsmissourian li {
  padding: 10px;
}

#socialsmissourian img {
  width: 30px;
}

#socialsextension {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}

#socialsextension li {
  padding: 10px;
}

#socialsextension img {
  width: 30px;
}

/* ABOUT PAGES */
#about {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap:wrap;
}

#about h1 {
  width: 40%;
  text-align: center;
  margin-top: 40px;
}

#about p {
  width: 70%;
  text-align: justify;
}

#about img {
  padding: 0;
}





/* MEDIA QUERIES */

@media only screen and (min-width: 600px) {
  .genericstories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
  }

}

@media only screen and (min-width: 800px) {
  body {
    max-width: 90%;
    margin: auto;
  }
  .menu-trigger {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }

  #nav {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  #nav li a {
    border-bottom: 0px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .genericstories {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
  }

  .flex-control-paging li a {
    width: 17px;
    height: 17px;
    border-radius: 17px;
    margin: 10px;
}

  .flex-direction-nav a {
    width: 50px;
    height: 50px;
  }


  .flex-direction-nav a:before {
  	top: 20px;
  	left: 20px;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .storycontainer p {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 1.75em;
  }

  .storycontainer .caption {
    max-width: 100%;
    font-size: 14px;
  }

  .genericstorycontainer p {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-size: 18px;
    line-height: 1.75em;
  }

  .genericstorycontainer .caption {
    max-width: 100%;
    font-size: 14px;
  }

/* this section could be used for specialized formatting in the grid if we need it! - lindsey */
  /* .storypic1 {

  }

  .story1 {

  }

  .storypic2 {

  }

  .story2 {

  }

  .storypic3 {

  }

  .story3 {

  } */
}



@media only screen and (min-width: 1000px) {
  body {
    max-width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 1400px) {
  body {
    max-width: 75%;
    margin: auto;
  }
  }


  /* .genericstories {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-content: center;
  } */
}

/* 600PX MEDIA QUERY
#nav li {
  font-family: 'Open Sans', sans-serif;
  list-style-type: none;
  color: #1e1e1e;
  position: relative;
}

#nav li img {
  width: 50%;
  padding: 0px;
}

#nav li a:link, a:visited {
  display: block;
  color: #1e1e1e;
  text-decoration: none;
  padding: 0px 20px;
}

#nav li ul {
  position: absolute;
  background:#FBFBF2;
  padding: 30px;
}

#nav li:hover ul {
  display: block;
}

#nav li ul li a:link, a:visited {
  padding: 5px 20px;
  width: 100px;
}

#nav li ul li a:hover {
  background-color: #EDEDD5;
}

.footer {
    width: 100%;
    background-color: #1e1e1e;
  }

  .footer a:link, a:visited {
    text-decoration: none;
  }

  .footer-missourian {
    width: 40%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .footer-missourian p {
  margin-bottom: -10px;
  }

  .footer-umextension {
    width: 40%
  }

  .socials {
    list-style-type: none;
    display: flex;
    flex-direction: row;
  } */
